# =========================
# APP
# =========================
SERVER_PORT=8080
CORS_ORIGINS="http://localhost:3000"
SPRING_PROFILES_ACTIVE=dev


# =========================
# POSTGRESQL
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bayr
DB_USERNAME=root
DB_PASSWORD=root

# =========================
# REDIS
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=root
REDIS_SSL=false

# =========================
# AUTH / JWT
# =========================
AUTH_ISSUER="http://localhost:8080"
AUTH_ACCESS_TOKEN_TTL=15h
AUTH_REFRESH_TOKEN_TTL=15d
AUTH_RSA_ROTATION_TTL=30d       # 30 days rotation


# =========================
# TINK CIPHER
# =========================
# RUN ONCE WITH TinkKeyEncryptor.generateNewKeysetJson() AND PAST THE RESULT HERE
# OR RUN TEST shouldGenerateValidJsonKeysetFormat
TINK_KEYSET_JSON='{"primaryKeyId":3865005534,"key":[{"keyData":{"typeUrl":"type.googleapis.com/google.crypto.tink.AesGcmKey","value":"GiB2e8NsU+gZYarJk0a7x71w1RVp5TTVcHMyWtAZ0wL0oQ==","keyMaterialType":"SYMMETRIC"},"status":"ENABLED","keyId":3865005534,"outputPrefixType":"TINK"}]}'


# =========================
# NOTIFICATION PROVIDER
# =========================
SMS_PROVIDER=twilio
WHATSAPP_PROVIDER=twilio
EMAIL_PROVIDER=resend

# resend
RESEND_API_KEY=
RESEND_FROM=
#brevo
BREVO_API_KEY=
BREVO_FROM=
BREVO_FROM_NAME=
#twilio
TWILIO_ACCOUNT_SID=
TWILIO_SMS_FROM=
TWILIO_WHATSAPP_FROM=
TWILIO_AUTH_TOKEN=

XENDIT_PUBLIC_KEY=xnd_public_development_xxx
XENDIT_SECRET_KEY=xnd_development_xxx
