# =========================
# APP
# =========================
SERVER_PORT=8080
CORS_ORIGINS="http://localhost:3000"
SPRING_PROFILES_ACTIVE=dev


# =========================
# POSTGRESQL
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bayr
DB_USERNAME=root
DB_PASSWORD=root

# =========================
# REDIS
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=root
REDIS_SSL=false

# =========================
# AUTH / JWT
# =========================
AUTH_ISSUER="http://localhost:8080"
AUTH_ACCESS_TOKEN_TTL=15m
AUTH_REFRESH_TOKEN_TTL=15d
# Generate with: openssl rand -base64 32
AUTH_RSA_ROTATION_TTL=30d       # 30 days rotation


# =========================
# TINK CIPHER
# =========================
# RUN ONCE WITH TinkKeyEncryptor.generateNewKeysetJson() AND PAST THE RESULT HERE
# OR RUN TEST shouldGenerateValidJsonKeysetFormat
TINK_KEYSET_JSON='RUN PROGRAM OR RUN TEST PrivateKeyEncryptorTest'


